<h1>Admin Panel</h1>
<% invoices.forEach(i => { %>
  <div>
    Invoice <%= i.id %> - <%= i.user %> - <%= i.plan %> - $<%= i.amount %> - Status: <%= i.status %>
    [<a href='/admin/approve/<%= i.id %>'>Approve</a> | <a href='/admin/reject/<%= i.id %>'>Reject</a>]
  </div>
<% }) %>
